.order-confirmation-page {
	.address-summary {
		h4 {
			margin-bottom: 0px;
		}
		div {
			margin-left: 5px;
		}
	}
	.payment-method-code {
		margin-top: 30px;
		span {
			font-size: 22px;
			color: #000;
			margin-left: 5px;
		}
	}
}
