.product-page {
	.product-gallery {
		.main-image {
			position: relative;
			height: 620px;

			img {
				position: absolute;
				top: 0;
			}
		}
		.thumbnails {
			margin-top: 10px;
			& li {
				display: inline-block;
				margin-right: 10px;
				width: 25%;
				padding: 0 10px 0 10px;
				border-radius: 2px;
				&:hover {
					border: 1px solid #555;
					cursor: pointer;
				}
			}
		}
	}

	.product-navigation-links {
		text-align: right;
		.separator {
			margin: 0 5px 0 5px;
		}
	}

	.product-name {
		font-family: 'Raleway', sans-serif;
		margin-right: 10px;
		font-weight: 600;
		font-size: 24px;
	}
	.price {
		font-size: 18px;
		margin-left: 5px;
	}

	.product-added-msg {
		background-color: #000;
		font-size: 13px;
	    margin: 5px 0 0 151px;
	    display: block;
	    width: 40%;

	}

	.color-selector {
		.title {
			margin-bottom: 10px;
		}
		.product-color {
			width: 50px;
			padding: 5px;
			list-style: none;
			&:hover {
				border: 1px solid;
				cursor: pointer;
			}
			&.selected {
				border: 2px solid #1ABC9C;
			}
		}
	}

	.size-selector {
		.title {
			margin-bottom: 10px;
		}
		select {
			min-width: 100px;
			width: auto;
		}
	}

	.last-viewed-products {
		.product {
			display: inline-block;
			width: 20%;
			padding: 10px;
			.product-title h3 {
				font-size: 18px;
			}
			.product-price {
				font-size: 16px;
			}
		}
	}
}
